[submodule "systems/cl-crypto"]
	path = systems/cl-crypto
	url = zippy.rayservers.com:/home/lisp/git/cl-crypto.git
[submodule "systems/fsdb"]
	path = systems/fsdb
	url = zippy.rayservers.com:/home/lisp/git/fsdb.git
[submodule "systems/limited-thread-taskmaster"]
	path = systems/limited-thread-taskmaster
	url = zippy.rayservers.com:/home/lisp/git/limited-thread-taskmaster.git
