Package: truledger
Version: VERSION-1
Section: lisp
Priority: optional
Architecture: ARCH
Depends: openssl
Installed-Size: 48000
Maintainer: Bill St. Clair [bill@billstclair.com]
Provides: truledger-VERSION
Homepage: http://truledger.com/
Description: Truledger is an anonymous, digitally-signed general
  ledger and trading system. 
