<span style='color:red;'><!-- TMPL_IF errmsg --><!-- TMPL_VAR errmsg --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></span>
    <br/><!-- TMPL_IF serveropts -->

    <form method='post' action='./' autocomplete='off'>
      <input type='hidden' name='cmd' value='server'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->'/>
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->'/>
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->'/>
      <select name='server'>
        <option value=''>Choose a server...</option><!-- TMPL_LOOP serveropts -->
        <option value='<!-- TMPL_VAR id -->'><!-- TMPL_VAR name --> <!-- TMPL_VAR url --></option><!-- /TMPL_LOOP -->
      </select>
      <input type='submit' name='selectserver' value='Change Server'/>
    </form>
<!-- /TMPL_IF --><!-- TMPL_IF inbox-p -->
    <form method='post' action='./' autocomplete='off'>
      <input type='hidden' name='cmd' value='processinbox'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->'/>
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->'/>
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->'/>
      <input type='hidden' name='spendcnt' value='<!-- TMPL_VAR spendcnt -->'/>
      <input type='hidden' name='nonspendcnt' value='<!-- TMPL_VAR nonspendcnt -->'/>
      <table class='prettytable'>
        <caption><b>Inbox</b></caption>
        <tr>
          <th>Request</th>
          <th>From</th>
          <th colspan='2'>Amount</th>
          <th>Note</th>
          <th>Action</th>
          <th>Reply</th><!-- TMPL_IF acctoptions -->
          <th>To Acct</th><!-- /TMPL_IF -->
          <th>Time</th>
        </tr><!-- TMPL_LOOP spends -->
        <input type='hidden' name='spendtime<!-- TMPL_VAR spendcnt -->' value='<!-- TMPL_VAR time -->'/>
        <tr>
          <td>Spend</td>
          <td>
            <span title='<!-- TMPL_VAR fromid -->'><!-- TMPL_IF from-nick -->
              <!-- TMPL_VAR from-nick --><!-- TMPL_IF from-name --> (<!-- TMPL_VAR from-name -->)<!-- /TMPL_IF --><!-- TMPL_ELSE -->
              <!-- TMPL_IF from-name -->(<!-- TMPL_VAR from-name -->)<!-- TMPL_ELSE -->[unknown]<!-- /TMPL_IF -->
              <input type='hidden' name='spendid<!-- TMPL_VAR spendcnt -->' value='<!-- TMPL_VAR fromid -->'/>
              <input type='text' name='spendnick<!-- TMPL_VAR spendcnt -->' size='10' value='<!-- TMPL_VAR nickname -->'/><!-- /TMPL_IF -->
            </span>
          </td>
          <td align='right' style='border-right-width: 0;'>
            <!-- TMPL_VAR amount -->
          </td>
          <td style='border-left-width: 0;'><!-- TMPL_VAR assetname --><!-- TMPL_IF asset-new-p --> <span style='color: red;'><i>(new)</i></span><!-- /TMPL_IF --></td>
          <td><!-- TMPL_VAR itemnote --></td>
          <td>
            <select name='spend<!-- TMPL_VAR spendcnt -->'>
              <option value='accept'>Accept</option>
              <option value='reject'>Reject</option>
              <option value='ignore'<!-- TMPL_IF ignore-selected-p --> selected='selected'<!-- /TMPL_IF -->>Ignore</option>
            </select>
          </td>
          <td>
            <textarea name='spendnote<!-- TMPL_VAR spendcnt -->' cols='20' rows='2'></textarea>
          </td><!-- TMPL_IF acctoptions -->
          <td>
            <select name='acct<!-- TMPL_VAR spendcnt -->'><!-- TMPL_LOOP acctoptions -->
              <option value='<!-- TMPL_VAR acct -->'><!-- TMPL_VAR acct --></option><!-- /TMPL_LOOP -->
            </select>
          </td><!-- /TMPL_IF -->
          <td><!-- TMPL_VAR date --></td>
        </tr><!-- /TMPL_LOOP --><!-- TMPL_LOOP non-spends -->
        <tr>
          <input type='hidden' name='nonspendtime<!-- TMPL_VAR nonspendcnt -->' value='<!-- TMPL_VAR time -->'/>
          <td><!-- TMPL_VAR reqstr --></td>
          <td>
            <span title='<!-- TMPL_VAR fromid -->'><!-- TMPL_IF from-nick -->
              <!-- TMPL_VAR from-nick --><!-- TMPL_IF from-name --> (<!-- TMPL_VAR from-name -->)<!-- /TMPL_IF --><!-- TMPL_ELSE -->
              <!-- TMPL_IF from-name -->(<!-- TMPL_VAR from-name -->)<!-- TMPL_ELSE -->[unknown]<!-- /TMPL_IF -->
              <input type='hidden' name='nonspendid<!-- TMPL_VAR nonspendcnt -->' value='<!-- TMPL_VAR fromid -->'/>
              <input type='text' name='nonspendnick<!-- TMPL_VAR nonspendcnt -->' size='10' value='<!-- TMPL_VAR nickname -->'/><!-- /TMPL_IF -->
            </span>
          </td>
          <td align='right' style='border-right-width: 0;'><!-- TMPL_VAR amount --></td>
          <td style='border-left-width: 0;'><!-- TMPL_VAR assetname --></td>
          <td><!-- TMPL_VAR itemnote --></td>
          <td>
            <input type='checkbox' name='nonspend<!-- TMPL_VAR nonspendcnt -->'<!-- TMPL_IF remove-checked-p --> checked='checked'<!-- /TMPL_IF -->/> Remove
          </td>
          <td><!-- TMPL_VAR reply --></td><!-- TMPL_IF acctoptions -->
          <td>&nbsp;</td><!-- /TMPL_IF -->
          <td><!-- TMPL_VAR date --></td>
        </tr>
<!-- /TMPL_LOOP -->
      </table>
      <input type='submit' name='submit' value='Process Inbox'/>
    </form>
<!-- /TMPL_IF  --><!-- TMPL_IF accts -->
    <form method='post' action='./' autocomplete='off'>
      <input type='hidden' name='cmd' value='spend'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->'/>
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->'/>
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->'/><!-- TMPL_LOOP accts -->
      <input type='hidden' name='acct<!-- TMPL_VAR acctidx -->' value='<!-- TMPL_VAR acct -->'/><!-- TMPL_LOOP assets -->
      <input type='hidden' name='assetid<!-- TMPL_VAR acctidx -->|<!-- TMPL_VAR assetidx -->' value='<!-- TMPL_VAR assetid -->'/><!-- /TMPL_LOOP --><!-- /TMPL_LOOP -->
      <table>
        <tr>
          <td valign='top'>
            <table class='prettytable'>
              <caption><b>Balances</b></caption><!-- TMPL_LOOP acctbals -->
              <tr>
                <th colspan='3'><!-- TMPL_VAR acct --></th>
              </tr><!-- TMPL_LOOP bals -->
              <tr>
                <td align='right' style='border-right-width: 0;'>
                  <!-- TMPL_IF full-amount --><span title='Full amount: <!-- TMPL_VAR full-amount -->' style='color:blue;'><!-- /TMPL_IF --><!-- TMPL_VAR amount --><!-- TMPL_IF full-amount --></span><!-- /TMPL_IF  -->
                </td>
                <td style='border-left-width: 0;'><!-- TMPL_VAR assetname --></td>
                <td>
                  <input type='submit' name='spentasset<!-- TMPL_VAR acctidx -->|<!-- TMPL_VAR assetidx -->' value='Spend'/>
                </td>
              </tr><!-- /TMPL_LOOP --><!-- /TMPL_LOOP -->
            </table><!-- TMPL_IF truncated-balance-p -->
            <p><span style='color:blue;'>Blue</span> balances above were truncated to<br/>
            asset precision. Hover the mouse over<br/>
            them to see the full amount.</p><!-- /TMPL_IF -->
            <br/><!-- TMPL_IF fractionamt -->
            Fractional balance: <!-- TMPL_VAR fractionamt --> x 10<sup>-<!-- TMPL_VAR fractionscale --></sup>
            <br/><!-- /TMPL_IF --><!-- TMPL_IF transaction-fee -->
            Transaction Fee: <!-- TMPL_VAR transaction-fee -->
            <br/><!-- /TMPL_IF --><!-- TMPL_IF storage-fee -->
            Storage Fee: <!-- TMPL_VAR storage-fee -->
            <br/><!-- /TMPL_IF -->
            <a href='./?cmd=history'>Show History</a> (<!-- TMPL_IF history-enabled-p -->enabled<!-- TMPL_ELSE -->disabled<!-- /TMPL_IF -->)
            <br/>
            <a href='./?cmd=rawbalance'>Show raw balance</a>
            <br/>
          </td><!-- TMPL_IF iphone-p -->
        </tr>
        <tr><!-- /TMPL_IF -->
          <td valign='top'>
            <table>
              <tr>
                <td><b>Spend amount:</b></td>
                <td>
                  <input type='text' name='amount' size='20' value='<!-- TMPL_VAR spend-amount -->' style='text-align: right;' id='spendamount'/>
                </td>
              </tr>
              <tr>
                <td><b>Recipient:</b></td>
                <td>
                  <select name='recipient'>
                    <option value=''>Choose contact...</option><!-- TMPL_LOOP recipopts -->
                    <option value='<!-- TMPL_VAR recipid -->'<!-- TMPL_IF selected-p --> selected='selected'<!-- /TMPL_IF -->><!-- TMPL_VAR name --></option><!-- /TMPL_LOOP -->
                  </select>
                  <input type='checkbox' name='mintcoupon'<!-- TMPL_IF mintcoupon-p --> checked='checked'<!-- /TMPL_IF --><!-- TMPL_IF disablemint-p --> disabled='disabled'<!-- /TMPL_IF -->/> Mint coupon
                </td>
              </tr>
              <tr>
                <td><b>Note:</b></td>
                <td>
                  <textarea name='note' cols='40' rows='5'><!-- TMPL_VAR note --></textarea>
                </td>
              </tr>
              <tr>
                <td><b>Recipient ID:</b></td>
                <td>
                  <input type='text' name='recipientid' size='40' value='<!-- TMPL_VAR recipientid -->'/>
                  <br/>
                  <input type='checkbox' name='allowunregistered'<!-- TMPL_IF cannot-mint-token-p -->disabled='disabled'<!-- /TMPL_IF --><!-- TMPL_IF allowunregistered --> checked='checked'<!-- /TMPL_IF -->/> Allow unregistered
                </td>
              </tr>
              <tr>
                <td><b>Nickname:</b></td>
                <td>
                  <input type='text' name='nickname' size='30' value='<!-- TMPL_VAR nickname -->'/>
                </td>
              </tr>
              <tr>
                <td><b>Transfer to:</b></td><!-- TMPL_IF acct-select-options -->
                <td>
                  <select name='toacct'>
                    <option value=''>Select or fill-in below...</option><!-- TMPL_LOOP acct-select-options -->
                    <option value='<!-- TMPL_VAR acct -->'<!-- TMPL_IF selected-p -->selected='selected'<!-- /TMPL_IF -->><!-- TMPL_VAR acct --></option><!-- /TMPL_LOOP -->
                  </select>
                </td>
              </tr>
              <tr>
                <td></td><!-- /TMPL_IF -->
                <td>
                  <input type='text' name='tonewacct' size='30' value='<!-- TMPL_VAR tonewacct -->'/>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>
<!-- /TMPL_IF --><!-- TMPL_IF outbox-items --><!-- TMPL_IF cancelcount -->
    <form method='post' action='./' autocomplete='off'>
      <input type='hidden' name='cmd' value='canceloutbox'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->'/>
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->'/>
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->'/>
      <input type='hidden' name='cancelcount' value='<!-- TMPL_VAR cancelcount -->'/><!-- /TMPL_IF -->
      <table class='prettytable'>
        <caption><b>Outbox</b></caption>
        <tr>
          <th>Time</th>
          <th>Recipient</th>
          <th colspan='2'>Amount</th>
          <th>Note</th>
          <th>Action</th>
        </tr><!-- TMPL_LOOP outbox-items -->
        <tr>
          <td><!-- TMPL_VAR date --></td>
          <td><!-- TMPL_IF coupontime -->
            <a href='./?cmd=coupon&time=<!-- TMPL_VAR coupontime -->'>Coupon</a><!-- TMPL_ELSE --><!-- TMPL_IF nameid -->
            <span label='<!-- TMPL_VAR nameid -->'><!-- TMPL_VAR name --></span><!-- TMPL_ELSE -->
            <!-- TMPL_VAR name --><!-- /TMPL_IF --><!-- /TMPL_IF -->
          </td>
          <td align='right' style='border-right-width: 0;'><!-- TMPL_VAR amount --></td>
          <td style='border-left-width: 0;'><!-- TMPL_VAR assetname --></td>
          <td><!-- TMPL_IF note --><!-- TMPL_VAR note --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>
          <td><!-- TMPL_IF cancelcount -->
            <input type='hidden' name='canceltime<!-- TMPL_VAR cancelcount -->' value='<!-- TMPL_VAR time -->'/>
            <input type='submit' name='cancel<!-- TMPL_VAR cancelcount -->' value='<!-- TMPL_VAR label -->'/><!-- TMPL_ELSE -->
            &nbsp;<!-- /TMPL_IF -->
          </td>
        </tr><!-- /TMPL_LOOP -->
      </table><!-- TMPL_IF cancelcount -->
    </form><!-- /TMPL_IF  -->
<!-- /TMPL_IF --><!-- TMPL_IF storagefees -->
    <form method='post' action='./' autocomplete='off'>
      <input type='hidden' name='cmd' value='storagefees'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->'/>
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->'/>
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->'/>
      <table class='prettytable'>
        <tr>
          <th colspan='3'>Storage Fees</th>
        </tr><!-- TMPL_LOOP storagefees -->
        <tr>
          <td align='right' style='border-right-width: 0;'><!-- TMPL_VAR amount --></td>
          <td style='border-left-width: 0;'><!-- TMPL_VAR assetname --></td>
          <td><!-- TMPL_VAR date --></td>
        </tr><!-- /TMPL_LOOP -->
      </table>
      <input type='submit' name='accept' value='Move to Inbox'/>
    </form>
<!-- /TMPL_IF -->
    <p>
      <form method='post' action='./' autocomplete='off'>
        <input type='hidden' name='cmd' value='balancemisc'/>
        <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->'>
        <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->'/>
        <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->'/>
        <input type='submit' name='togglehistory' value='<!-- TMPL_IF history-enabled-p -->Disable<!-- TMPL_ELSE -->Enable<!-- /TMPL_IF --> history'/>
        <input type='submit' name='resync' value='Resync with server'/>
        <input type='submit' name='toggledebug' value='<!-- TMPL_IF debugging-enabled-p -->Disable<!-- TMPL_ELSE -->Enable<!-- /TMPL_IF --> debugging'/>
        <input type='submit' name='toggleinstructions' value='<!-- TMPL_IF instructions-enabled-p -->Disable<!-- TMPL_ELSE -->Enable<!-- /TMPL_IF --> Instructions'/>
      </form>
    </p><!-- TMPL_IF instructions-enabled-p -->
    <p>
      To make a spend, fill in the Spend amount", choose a "Recipient" or enter a "Recipient ID", enter (optionally) a "Note", and click the "Spend" button next to the asset you wish to spend.
    </p>
    <p>
      To transfer balances, enter the "Spend Amount", select or fill-in the "Transfer to" name (letters, numbers, and spaces only), and click the"Spend" button next to the asset you want to transfer from. Each storage location costs one usage token, and there is currently no way to recover an unused location. 0 balances will show only on the raw balance screen.
    </p>
    <p>
      To mint a coupon, enter the "Spend Amount", check the "Mint coupon" box, and click the "Spend" button next to the asset you want to transfer to the coupon. You can redeem a coupon on the "Servers" page."
    </p>
    <p>
      Entering a "Nickname" will add the "Recipient ID" to your contacts list with that nickname, or change the nickname of the selected "Recipient"
    </p><!-- /TMPL_IF -->
