<br/>
    <table class='prettytable'>
      <tr>
        <th colspan='2'>Coupon for outbox entry at <!-- TMPL_VAR date --></th>
      </tr>
      <tr>
        <td><b>Amount:</b></td>
        <td><!-- TMPL_VAR amount --> <!-- TMPL_VAR assetname --></td>
      </tr><!-- TMPL_IF note -->
      <tr>
        <td><b>Note:</b></td>
        <td><!-- TMPL_VAR note --></td>
      </tr><!-- /TMPL_IF -->
      <tr>
        <td><b>Coupon:</b></td>
        <td><span style='margin: 5px;'><!-- TMPL_VAR coupon --></span></td>
      </tr>
    </table>
