<html>
  <head>
    <title><!-- TMPL_VAR title --></title>
    <meta name='viewport' content='width=device-width' />
    <link rel='apple-touch-icon' href=='../site-icon.ico' />
    <link rel='shortcut icon' href='../site-icon.ico' />
    <link rel='stylesheet' type='text/css' href='../css/tables.css' /><!-- TMPL_IF jskeyboardp -->
    <link rel='stylesheet' type='text/css' href='../css/keyboard.css'/>
    <script type='text/javascript' src='../css/keyboard.js' charset='UTF-8'></script><!-- /TMPL_IF -->
  </head>
  <body<!-- TMPL_IF onload --> onload='<!-- TMPL_VAR onload -->'<!-- /TMPL_IF  -->>
    <!-- TMPL_VAR menu --><!-- TMPL_IF pre-body -->
    <!-- TMPL_VAR pre-body --><!-- /TMPL_IF -->
    <!-- TMPL_VAR body --><!-- TMPL_IF debugstr -->
    === Debug Log ===<br/>
    <pre><!-- TMPL_VAR debugstr --></pre><!-- /TMPL_IF -->
    <p class='version'><!-- TMPL_IF client-version -->
      Client: <a href='https://github.com/billstclair/truledger/commit/<!-- TMPL_VAR client-version -->'><!-- TMPL_VAR client-version --></a>&nbsp;&nbsp;<!-- TMPL_VAR client-date --><!-- TMPL_IF server-version -->
      <br/><!-- /TMPL_IF --><!-- /TMPL_IF --><!-- TMPL_IF server-version -->
      Server: <a href='https://github.com/billstclair/truledger/commit/<!-- TMPL_VAR server-version -->'><!-- TMPL_VAR server-version --></a>&nbsp;&nbsp;<!-- TMPL_VAR server-date --><!-- /TMPL_IF -->
    </p>
    <p><a href='http://common-lisp.net/'><img style='border: 0;' src='../little-lambda.png' alt='Made with Lisp' title='Made with Lisp' width='16' height='16' /></a></p>
  </body>
</html>
