<html>
  <head>
    <title><!-- TMPL_VAR title --></title>
    <meta name='viewport' content='width=device-width' />
    <link rel='apple-touch-icon' href=='../site-icon.ico' />
    <link rel='shortcut icon' href='../site-icon.ico' />
    <link rel='stylesheet' type='text/css' href='../css/tables.css' />
  </head>
  <body<!-- TMPL_IF onload --> onload='<!-- TMPL_VAR onload -->'<!-- /TMPL_IF  -->>
    <!-- TMPL_VAR menu -->
    <!-- TMPL_VAR body --><!-- TMPL_IF client-version -->
    <p class='version'>Client: <a href='https://github.com/billstclair/truledger/commit/<!-- TMPL_VAR client-version -->'><!-- TMPL_VAR client-version --></a> <!-- TMPL_VAR client-date --></p><!-- /TMPL_IF --><!-- TMPL_IF server-version -->
    <p class='version'>Server: <a href='https://github.com/billstclair/truledger/commit/<!-- TMPL_VAR server-version -->'><!-- TMPL_VAR server-version --></a> <!-- TMPL_VAR server-date --></p><!-- /TMPL_IF -->
    <p><a href='http://common-lisp.net/'><img style='border: 0;' src='../little-lambda.png' alt='Made with Lisp' title='Made with Lisp' width='16' height='16' /></a></p>
  </body>
</html>
