<html>
  <head>
    <title>Loom Contacts - Truledger Client</title>
    <meta name='viewport' content='width=device-width' />
    <link rel='apple-touch-icon' href=='../site-icon.ico' />
    <link rel='shortcut icon' href='../site-icon.ico' />
    <link rel='stylesheet' type='text/css' href='../css/tables.css' />
  </head>
  <body onload='document.getElementById("assetid").focus()'>
    <p>
      <a href='../'><img style='vertical-align: middle;border: 1px white' src='../truledger-logo-50x49.gif' alt='Truledger' width='50' height='49' /></a>
      <b> Loom</b>&nbsp;&nbsp;
      <a href='./?cmd=loom-wallet'>Wallet</a>&nbsp;&nbsp
      <a href='./?cmd=loom-contacts'><b style='font-size: 120%;'>Contacts</b></a>&nbsp;&nbsp
      <a href='./?cmd=loom-servers'>Servers</a>&nbsp;&nbsp
      <a href='./?cmd=loom-assets'>Assets</a>&nbsp;&nbsp
      <a href='./?cmd=truledger'>Truledger</a>&nbsp;&nbsp
      <a href='./?cmd=logout'>Logout</a>
    </p>
    <b>Loom Server: </b>Loom.cc <a href='https://secure.looom.cc/'>https://secure.loom.cc/</a><br />
    <b>Account Name: </b>Bill St. Clair<br />
    <br/>
    <form method='post' action='./loom' autocomplete='off'>
      <input type='hidden' name='cmd' value='new-contact'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->' />
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->' />
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->' />
      <table>
        <tr>
          <td><b>ID:</b></td>
          <td><input type='text' name='assetid' id='assetid' size='40' value='<!-- TMPL_VAR assetid -->'/></td>
        </tr><tr>
          <td><b>Name:</b></td>
          <td><input type='text' name='name' size='40' value='<!-- TMPL_VAR name -->'/></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type='checkbox' name='fund' checked='checked'/> Move 100 usage tokens here</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" name="create" value="Create Contact"/></td>
        </tr>
      </table>
    </form>

    <form method='post' action='./loom' autocomplete='off'>
      <input type='hidden' name='cmd' value='enabled-contacts'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->' />
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->' />
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->' />

      <input type='submit' name='save' value="Save Enabled"/>
      <table class='prettytable'>
        <tr><th>Enabled</th><th>Name</th></tr>
        <tr>
          <td>&nbsp;</td>
          <td><a href='./loom?cmd=contact&name=Server+Admin'><b>Server Admin</b></a></td>
        </tr>
        <tr>
          <td align='center'><input type="checkbox" name="enable-1" checked='checked'/></td>
          <td><a href='./loom?cmd=contact&name=billbill'>billbill</a></td>
        </tr>
        <tr>
          <td align='center'><input type="checkbox" name="enable-2" checked='checked'/></td>
          <td><a href='./loom?cmd=contact&name=Issuer'>Issuer</a></td>
        </tr>
      </table>
      <input type='submit' name='save' value="Save Enabled "/>
    </form>

    <p><a href='http://common-lisp.net/'><img style='border: 0;' src='../little-lambda.png' alt='Made with Lisp' title='Made with Lisp' width='16' height='16' /></a></p>
  </body>
</html>
