<b>Loom Server: </b>
    <a href='<!-- TMPL_VAR current-server-url -->'><!-- TMPL_VAR current-server-url --></a><br/>
    <form method='post' action='./loom'>
      <input type='hidden' name='cmd' value='change-wallet'/>
    <b>Wallet:</b> <!-- TMPL_VAR current-wallet-name --><br/><!-- TMPL_IF other-servers -->
      <select name='urlhash'>
        <option value=''>Choose a server...</option><!-- TMPL_LOOP other-servers -->
        <option value='<!-- TMPL_VAR urlhash -->'><!-- TMPL_VAR url --></option><!-- /TMPL_LOOP -->        
      </select>
      <input type='submit' name='changeserver' value='Change Server'/><!-- /TMPL_IF --><!-- TMPL_IF other-wallets -->
      <br/>
      <select name='namehash'>
        <option value=''>Choose a wallet...</option><!-- TMPL_LOOP other-wallets -->
        <option value='<!-- TMPL_VAR namehash -->'><!-- TMPL_VAR name --></option><!-- /TMPL_LOOP -->
      </select>
      <input type='submit' name='changewallet' value='Change Wallet'/><!-- /TMPL_IF -->
    </form><!-- TMPL_IF errmsg -->
    <span style='color: red;'><!-- TMPL_VAR errmsg --></span><br /><!-- /TMPL_IF -->
    <form method='post' action='./loom' autocomplete='off'>
      <input type='hidden' name='cmd' value='pay-or-claim' />
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->' />
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->' />
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->' />
      <input type='hidden' name='urlhash' value='<!-- TMPL_VAR urlhash -->'/>
      <input type='hidden' name='namehash' value='<!-- TMPL_VAR namehash -->'/>
      <table>
        <tr>
          <td><b>Pay/Claim Amount:</b></td>
          <td>
            <input type='text' name='payamt' id='payamt' size='20' value='<!-- TMPL_VAR payamt -->' />
            <input type="checkbox" name="claimall"<!-- TMPL_IF claimall --> checked='checked'<!-- /TMPL_IF -->/> claim all
          </td>
        </tr>
        <tr>
          <td><b>Contact:</td>
          <td>
            <select name='contact-name'>
              <option value=''>choose contact...</option><!-- TMPL_LOOP contacts -->
              <option value='<!-- TMPL_VAR name -->'<!-- TMPL_IF select --> selected='selected'<!-- /TMPL_IF -->><!-- TMPL_VAR name --></option><!-- /TMPL_LOOP -->
            </select>
          </td>
        </tr>
      </table>
      <br/>
      <table class='prettytable'>
        <tr>
          <th align='left'>In my wallet</th>
          <th align='left'><!-- TMPL_VAR contact-name --></th>
          <th align='center'><a href='./loom?cmd=contact&name=<!-- TMPL_VAR contact-url-name -->'>view contact</a></th>
        </tr><!-- TMPL_LOOP assets -->
        <tr>
          <td align='right'><!-- TMPL_VAR asset-amount --></td>
          <td><!-- TMPL_VAR asset-name --></td>
          <td align='center'><input type='submit' name='pay-<!-- TMPL_VAR asset-id -->' value='Pay' /></td>
        </tr><!-- /TMPL_LOOP  -->
        <tr>
          <td colspan='3' style='border: none; background-color: white;'>&nbsp;</td>
        </tr><!-- TMPL_LOOP table-contacts -->
        <tr>
          <th align='left'>On the table</th>
          <th align='left'><!-- TMPL_VAR contact-name --></th>
          <th align='center'><a href='./loom?cmd=contact&name=<!-- TMPL_VAR contact-url-name -->'>view contact</a></th>
        </tr><!-- TMPL_LOOP assets -->
        <tr>
          <td align='right'><!-- TMPL_VAR asset-amount --></td>
          <td><!-- TMPL_VAR asset-name --></td>
          <td align='center'><input type='submit' name='claim-<!-- TMPL_VAR asset-loc-hash -->-<!-- TMPL_VAR asset-id -->' value='Claim' /></td>
        </tr><!-- /TMPL_LOOP --><!-- /TMPL_LOOP -->
      </table>
