<b>Loom Server:</b> <a href='<!-- TMPL_VAR server-url -->'><!-- TMPL_VAR server-url --></a><br/>
    <b>Wallet:</b> <!-- TMPL_VAR wallet-name --><br/>
    <br/><!-- TMPL_IF errmsg -->
    <span style='color: red;'><!-- TMPL_VAR errmsg --></span><br /><!-- /TMPL_IF -->
    <form method='post' action='./loom' autocomplete='off'>
      <input type='hidden' name='cmd' value='accept-asset'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->' />
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->' />
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->' />
      <table>
        <tr>
          <td><b>Description:</b></td>
          <td><input type='text' name='description' id='description' size='100' value='<!-- TMPL_VAR description -->'/></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type='submit' name='accept' value='Accept Asset'/></td>
        </tr>
      </table>
    </form>

    <form method='post' action='./loom' autocomplete='off'>
      <input type='hidden' name='cmd' value='new-asset'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->' />
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->' />
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->' />
      <table>
        <tr>
          <td><b>ID:</b></td>
          <td><input type='text' name='id' size='40' value='<!-- TMPL_VAR id -->'/></td>
        </tr>
        <tr>
          <td><b>Name:</b></td>
          <td><input type='text' name='name' size='40' value='<!-- TMPL_VAR name -->'/></td>
        </tr>
        <tr>
          <td><b>Scale:</b></td>
          <td><input type='text' name='scale' size='10' value='<!-- TMPL_VAR scale -->'/></td>
        </tr>
        <tr>
          <td><b>Min Precision:</b></td>
          <td><input type='text' name='precision' size='10' value='<!-- TMPL_VAR precision -->'/></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type='submit' name='accept' value='Create Asset'/></td>
        </tr>
      </table>
    </form>

    <form method='post' action='./loom' autocomplete='off'>
      <input type='hidden' name='cmd' value='enabled-assets'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->' />
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->' />
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->' />

      <input type='submit' name='save' value='Save Enabled Changes'/>
      <table class='prettytable'>
        <tr><th>Enabled</th><th>Name</th></tr><!-- TMPL_LOOP assets -->
        <tr>
          <td><input type='checkbox' name='<!-- TMPL_VAR enabled-name -->'<!-- TMPL_IF enabled --> checked='checked'<!-- /TMPL_IF -->/></td>
          <td><a href='./loom?cmd=asset&id=<!-- TMPL_VAR asset-id -->'><b><!-- TMPL_VAR name --></b></a></td>
        </tr><!-- /TMPL_LOOP -->
      </table>
      <input type='submit' name='save' value='Save Enabled Changes'/>
    </form>
