<p>
      <a href='../'>
        <img style='vertical-align: middle;border: 1px white' src='../truledger-logo-50x49.png' alt='Truledger' width='50' height='49' />
      </a>
      <b> <!-- TMPL_VAR title --></b>&nbsp;&nbsp;<!-- TMPL_LOOP items -->
      <a href='<!-- TMPL_VAR url --><!-- TMPL_IF cmd -->?cmd=<!-- TMPL_VAR cmd --><!-- /TMPL_IF -->'><!-- TMPL_IF highlight --><b style='font-size: 120%;'><!-- /TMPL_IF --><!-- TMPL_VAR name --><!-- TMPL_IF highlight --></b><!-- /TMPL_IF --></a>&nbsp;&nbsp<!-- /TMPL_LOOP -->
    </p>
