<span title='<!-- TMPL_VAR id -->'><!-- TMPL_IF regular-p --><!-- TMPL_VAR namestr --><!-- /TMPL_IF --><!-- TMPL_IF you-p -->You<!-- /TMPL_IF --><!-- TMPL_IF coupon-p -->coupon<!-- /TMPL_IF --><!-- TMPL_IF sponsor-p -->My Sponsor<!-- /TMPL_IF --></span><!-- TMPL_IF cnt --><br/>
<input type='hidden' name='<!-- TMPL_VAR idname --><!-- TMPL_VAR cnt -->' value='<!-- TMPL_VAR otherid -->'/>
Nickname: <input type='text' name='<!-- TMPL_VAR textname --><!-- TMPL_VAR cnt -->' size='10' value='<!-- TMPL_IF sponsor-p -->My Sponsor<!-- TMPL_ELSE --><!-- TMPL_VAR nickname --><!-- /TMPL_IF -->'/><!-- /TMPL_IF -->
