<html>
  <head>
    <title>Register - Truledger Client</title>
    <meta name='viewport' content='width=device-width' />
    <link rel='apple-touch-icon' href=='../site-icon.ico' />
    <link rel='shortcut icon' href='../site-icon.ico' />
    <link rel='stylesheet' type='text/css' href='../css/tables.css' />
  </head>
  <body onload='document.forms[0].passphrase.focus()'>
    <p>
      <a href='../'><img style='vertical-align: middle;border: 1px white' src='../truledger-logo-50x49.gif' alt='Truledger' width='50' height='49' /></a>
      <b> Truledger</b>
    </p>
    <form method='post' action='./' autocomplete='off'>
      <input type='hidden' name='cmd' value='login' />
      <input type='hidden' name='postcnt' />
      <input type='hidden' name='postsalt' />
      <input type='hidden' name='postmsg' />
      <table>
        <tr>
          <td><b>Passphrase:</b></td>
          <td>
            <input type='password' name='passphrase' size='50' />
            <input type='hidden' name='page' value='register' />
          </td>
        </tr>
        <tr>
          <td></td>
          <td><span style='color: red;'>&nbsp;</span></td>
        </tr>
        <tr>
          <td><b>Verification:</b></td>
          <td><input type='password' name='passphrase2' size='50' /></td>
        </tr>
        <tr>
          <td><b>Coupon:</b></td>
          <td><input type='text' name='coupon' size='64' /></td>
        </tr>
        <tr>
          <td>
            <b>Account Name<br />
              (Optional):</b>
          </td>
          <td><input type='text' name='name' size='40' /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type='checkbox' name='cacheprivkey' checked='checked' />Cache encrypted private key on server</td>
        </tr>
        <tr>
          <td><b>Key size:</b></td>
          <td>
            <select name='keysize'>
              <option value='512'>512</option>
              <option value='1024'>1024</option>
              <option value='2048'>2048</option>
              <option value='3072' selected='selected'>3072</option>
              <option value='4096'>4096</option>
            </select>
            <input type='submit' name='newacct' value='Create account' />
            <input type='submit' name='showkey' value='Show key' />
            <input type='submit' name='login' value='Login' />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>To generate a new private key, leave the area below blank, enter a
passphrase, the passphrase again to verify, a server coupon, an optional
account name, a key size, and click the "Create account" button. To
use an existing private key, paste the private key below, enter its
passphrase above, a server coupon, an optional account name, and click
the "Create account" button.  To show your encrypted private key,
enter its passphrase, and click the "Show key" button. Warning: if you
forget your passphrase, <b>nobody can recover it, ever</b>.</p>

            <p>If you lose your private key, which is stored on the computer running this client, nobody can recover that either. To protect against that, you can choose to cache your encrypted private key on the server, with the checkbox above. If you wish to create a new account in this client, using a previously-cached private key, enter your "Passphrase", enter the URL of the server (e.g "http://truledger.com/") as the "Coupon", and press the "Create account" button.</p>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <textarea name='privkey' cols='65' rows='44' style='font-family: Monospace;'></textarea>
          </td>
        </tr>
      </table>
    </form>
    <p class='version'></p>
    <p><a href='http://common-lisp.net/'><img style='border: 0;' src='../little-lambda.png' alt='Made with Lisp' title='Made with Lisp' width='16' height='16' /></a></p>
  </body>
</html>
