<span style='color:red;'><!-- TMPL_IF errmsg --><!-- TMPL_VAR errmsg --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></span>
    <form method='post' action='./' autocomplete='off'>
      <input type='hidden' name='cmd' value='server'/>
      <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->'/>
      <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->'/>
      <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->'/>
      <table>
        <tr>
          <td><b>Server URL<br/>or Coupon:</b></td>
          <td><input type='text' name='serverurl' id='serverurl' size='64' value='<!-- TMPL_VAR serverurl -->'/></td>
        </tr>
        <tr>
          <td><b>Account Name<br/>(optional):</b></td>
          <td><input type='text' name='name' size='40' value='<!-- TMPL_VAR name -->'/></td>
        </tr>
        <tr>
          <td><b>Proxy Host<br/>(optional):</b></td>
          <td>
            <input type='text' name='proxy-host' size='30' value='<!-- TMPL_VAR proxy-host -->'/>
            <b>Port:</b>
            <input type='text' name='proxy-port' size='5' value='<!-- TMPL_VAR proxy-port -->'/>
          </td>
        <tr>
          <td></td>
          <td>
            <input type='submit' name='newserver' value='Add Server'/>
            <input type='submit' name='cancel' value='Cancel'/>
          </td>
        </tr>
      </table>
    </form><!-- TMPL_IF server-items -->

    <table class='prettytable'>
      <tr>
        <th>Server</th>
        <th>URL</th>
        <th>ID</th>
        <th>Choose</th>
        <th>Private Key</th>
      </tr><!-- TMPL_LOOP server-items -->
      <tr>
        <form method='post' action='./' autocomplete='off' style='margin: 0px;'>
          <input type='hidden' name='cmd' value='server'/>
          <input type='hidden' name='postcnt' value='<!-- TMPL_VAR postcnt -->'/>
          <input type='hidden' name='postsalt' value='<!-- TMPL_VAR postsalt -->'/>
          <input type='hidden' name='postmsg' value='<!-- TMPL_VAR postmsg -->'/>
          <input type='hidden' name='server' value='<!-- TMPL_VAR bid -->'/>
          <td><!-- TMPL_VAR name --></td>
          <td>
            <a href='<!-- TMPL_VAR url -->'><!-- TMPL_VAR url --></a><!-- TMPL_IF proxy --><br/>
            Proxy: <!-- TMPL_VAR proxy --><!-- /TMPL_IF -->
          </td>
          <td><span class='id'><!-- TMPL_VAR bid --></span></td>
          <td><input type='submit' name='selectserver' value='Choose'/></td>
          <td style='text-align: center;'>
            <input type='submit'<!-- TMPL_IF cached-p --> name='uncacheprivkey' value='Uncache'<!-- TMPL_ELSE --> name='cacheprivkey' value='Cache'<!-- /TMPL_IF -->/>
          </td>
        </form>
      </tr><!-- /TMPL_LOOP -->
    </table><!-- /TMPL_IF -->
