table.prettytable {
  margin: 0em 0.5em 0.5em 0.5em;
  background: whitesmoke;
  border-collapse: collapse;
}
table.prettytable th, table.prettytable td {
  border: 1px silver solid;
  padding: 0.2em;
}
table.prettytable th {
  background: gainsboro;
  text-align: center;
}
table.prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
}
table.innertable th, table.innertable td {
  border: 0;
}
a.version:link {
  color: #AAAAAA;
}
a.version:visited {
  color: #AAAAAA;
}
a.version:active {
  color: #FF0000;
}
a.version:hover {
  background: #DDDDFF;
}
p.version {
  font-size: 80%;
  color: #AAAAAA;
}
